@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
html, body{
	height:100%;
	width: 100%;
	font-family: 'Mulish', sans-serif;	color: #222;
	margin:0;
}

/*#sticky-footer{
	background-color:#e9ecef;
	min-height: 5rem;
	line-height: 5rem;
}
*/
/*Quick fix, not encouraged*/

#img-logo{
	height:100px;
}

.navbar{
	background-color: #5fc76a;
	padding-left: 1.3rem;
}

/*#mainJu  mbo{
	background-color: #57a85f;
	color:#d8f0da;
}*/
